html {
  background-color: #008b8b;
}

.column-top {
  float: left;
  width: 60%;
  align-items: center;
  position: relative;
  right: 350px;
  bottom: 200px;
  z-index: 0;
}

.column-bottom {
  float: left;
  width: 200%;
  position: absolute;
  top: 200px;
  left: 350px;
  z-index: 2;
}

.column-card {
  float: left;
  width: 30%;
  padding:5px;
  position: absolute;
  top: 350px;
  left: 500px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  z-index: 1;
}

.image-victor {
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  margin-left: 180px;
  border: 5px solid white;
}
.feature-box {
  padding: 5%;
font-size: 10px;
}
.feature-title{
  font-size: 18px;
  padding-left: 35%;
  font-weight: bolder;
  padding-top: 35px;
}
.social{
  padding-left: 35%;
  font-size: 10px;
}
.White-container{
  background-color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 250px;
}
.White-container-victor{
  text-align: center;
  padding-top: 15%;
  font-size: 18px;

}
